@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --color-primary: #131424;
  --color-secondary: #393A47;
  --color-accent: #F13024;
  --font-poppins: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;
  --background-image-explosion: url("/bg-explosion.png");
  --background-image-circles: url("/bg-circles.png");
  --background-image-circleStar: url("/circle-star.svg");
  --background-image-site: url("/site-bg.svg");
  --animation-spin-slow: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  @apply max-w-[1200px] mx-auto px-[15px];
}

.animate-spin-slow {
  animation: var(--animation-spin-slow);
}
.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {

    html { @apply overflow-x-hidden; }

    body {
      @apply bg-secondary overflow-hidden leading-relaxed;
    }

    .page {
      @apply w-full min-h-dvh overflow-hidden;
    }

    section {
      @apply mt-[40px] min-h-dvh flex justify-center items-center;
    }

    .h1 {
      @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
    }

    .h2 {
      @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
    }

    p {
      @apply leading-[1.8] text-white/60 font-light;
    }

    .btn,
    .input {
      @apply h-[52px];
    }

    .input {
      @apply w-full h-[52px] rounded-lg pl-6 capitalize;
    }

    .input,
    .textarea {
      @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
    }

    .textarea {
      @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
    }
}